WPFclient/Tehtävät/Service References/TaskServiceRef/Task2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TaskService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TaskService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTask.TodoTask">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Task.TodoTask" nillable="true" type="tns:Task.TodoTask" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTask.TodoTask" nillable="true" type="tns:ArrayOfTask.TodoTask" />
  <xs:complexType name="Task.TodoTask">
    <xs:sequence>
      <xs:element minOccurs="0" name="guid" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="task" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Task.TodoTask" nillable="true" type="tns:Task.TodoTask" />
</xs:schema>